# fly.toml app configuration file generated for commerce-buygo on 2025-11-07T17:12:36+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'commerce-buygo'
primary_region = 'fra'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  DJANGO_ALLOWED_HOSTS = 'commerce-buygo.fly.dev'
  DJANGO_DEBUG = '1'
  PORT = '8000'
  TIME_ZONE = 'Europe/Kyiv'
  WAGTAILADMIN_BASE_URL = 'https://commerce-buygo.fly.dev'

[processes]
  app = 'gunicorn --bind :8000 --workers 2 config.wsgi'
  beat = 'celery -A config beat -l info'
  celery = 'celery -A config worker --loglevel=INFO'
  web = 'python manage.py runserver 0.0.0.0:8000'
  worker = 'celery -A config worker -l info --concurrency=2'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8000
  processes = ['web']

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 50

[checks]
  [checks.http]
    port = 8000
    type = 'http'
    interval = '10s'
    timeout = '2s'
    method = 'get'
    path = '/admin/login/'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/staticfiles'
  url_prefix = '/static/'

[[statics]]
  guest_path = '/code/media'
  url_prefix = '/media/'

# Persist media uploads on a volume
[mounts]
  source = 'media'
  destination = '/code/media'
